.counter {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  color: blue;

  transform: translateY(-50%);
}

.cartPosition {
  position: fixed;
  right: 0;
  bottom: 50px;
}

.chaPosition {
  position: fixed;
  left: 0;
  bottom: 50px;
}
