.quantity_btns {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.plus, .minus {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: #3880ff;
  color: white;
  font-weight: bold;
}

.quantity_btns ion-button {
  width: 24px;
  height: 24px;
}
