.filter {
  margin: 0;
  padding: var(--default-padding);

  display: flex;
  align-items: center;

  height: 40px;

  overflow-x: scroll;
  -ms-overflow-style: none;
}

.filter::-webkit-scrollbar {
  display: none;
}