.chatItem {
  position: relative;
}

.lastUpdate {
  position: absolute;
  top: 30%;
  right: 5%;
  transform: translateY(-50%);

  font-size: 12px;
  color: silver;
}

.img {
  width: 52px;
  height: 32px;
  margin-right: 10px;
}

.restName {
  color: grey;
  font-size: 14px;
}

.closeTime {
  font-size: 12px;
}
