.confirmText {
  max-width: 200px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.confirmModalBtns {
  /* border: 1px solid black; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.confirmModalBtns button {
  width: 4.5rem;
  height: 2rem;
  border-radius: 5px;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
}

.no {
  background-color: grey;
}

.yes {
  background-color: #3980fe;
}
