.globalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;

  height: 50px;

  z-index: 1000;
}

.mapButton {
  width: 1.5rem;
  height: 1.5rem;
}

.mapButton svg {
  width: 100%;
  height: 100%;
}

.headerMain {
  display: flex;
  align-items: center;
  /* width: 300px; */
}

.addr {
  font-size: 1rem;
  max-width: 13rem;
}
