.list {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.img {
  width: 52px;
  height: 32px;
  margin-right: 10px;
}

.current {
  background-color: #d7d8da;
}
