.list {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.list::-webkit-scrollbar {
  display: none;
}
.list ion-icon {
  color: #0070f3 !important;
}

.img {
  width: 52px;
  height: 32px;
  margin-right: 10px;
}

.current {
  background-color: #d7d8da;
}

.roomSeq {
  color: silver;
  font-size: 12px;
}
